::placeholder {
  color: var(--secondary-color);
}

.userLoginForm-container {
  padding: 1rem;
  border: 1px solid var(--secondary-color);
  width: 475px;
  margin: 0 auto;
}

.userLoginForm-container > label {
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="number"] {
  padding: 0.5rem;
  margin: 1rem;
  border: none;
  border-radius: 0.45rem;
  box-shadow: 1px 1px 5px 5px var(--secondary-color);
  width: 100%;
  text-align: center;
}
