.App {
  text-align: center;
  --primary-color: #f9fafb;
  --secondary-color: #831843;
  --tertiary-color: #7f1d1d;
  --current-selected-color: white;
  font-family: "Gabriela", serif;

  color: var(--secondary-color);
}
