.App {
  text-align: center;
  --primary-color: #1e6091;
  --secondary-color: #b5e48c;
  --tertiary-color: #7f1d1d;
  --current-selected-color: white;
  font-family: "Gabriela", serif;

  color: var(--primary-color);
}
/*secondary:#831843 primary:#f9fafb  alternate green color:#a5d46a;*/
/*green: primary color:#116530 secondary color:#d2fba4 */
/*orange: primary: #b8390e secondary:#ffcd58*/
/*second orange combination alternative primary:#dc2f02 secondary:#ffba08*/
